@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1200px) {
    .max-w-custom {
      max-width: 500px; /* ваше значение ширины в пикселях */
      margin-left: auto; /* Центрирование блока по горизонтали */
      margin-right: auto;
    }
    
    .bg-blur-sm {
      background-color: rgba(255, 255, 255, 0.5);  
    }

    body{
      font-family: sans-serif;
    }

    .leaflet-container{
      height: 400px;

    }

   
    
    .block {
      display: flex;
      flex-direction: column;
    }
    
   .name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

    
    .container {
      font-size: 1.3rem;
      border-radius: 10px;
      width: 50%; /* Уменьшаем ширину контейнера до 50% */
      max-width: 700px; /* Максимальная ширина контейнера */
      margin: 0 auto; /* Центрируем контейнер по горизонтали */
      padding: 30px; /* Уменьшаем отступы для более компактного вида */
      box-shadow: 0 30px 30px rgb(78 78 78 / 25%), 0 -8px 20px rgb(78 78 78 / 25%),
        0 3px 5px rgb(78 78 78 / 25%), 0 8px 8px rgb(78 78 78 / 25%),
        0 -2px 3px rgb(78 78 78 / 25%);
    }
    
    .container input {
      font-size: 1.2rem;
      margin: 10px 0; /* Уменьшаем отступы сверху и снизу */
      border-color: rgb(31, 28, 28);
      padding: 10px;
      border-radius: 5px;
      background-color: #e8f0fe;
    }
    .centered-button {
      margin: 0 auto;
      display: block;
  }
  .mobile-button-container {
    width: 100%;
    text-align: center; /* Центрирование содержимого по горизонтали */
}
    
    .container textarea {
      margin: 10px 0; /* Уменьшаем отступы сверху и снизу */
      padding: 5px;
      border-color: rgb(31, 28, 28);
      border-radius: 5px;
      background-color: #e8f0fe;
      font-size: 20px;
    }
    
    .container h1 {
      text-align: center;
      font-weight: 600;
    }
    
    .name div {
      display: flex;
      flex-direction: column;
    }
    
    .block button {
      padding: 10px;
      font-size: 20px;
      width: 30%;
      border: 3px solid black;
      border-radius: 5px;
    }
    
    .button {
      display: flex;
      align-items: center;
    }
    
    textarea {
      resize: none;
    }
    

/* styles.module.css */

:root {
  --background-color: black; /* Цвет фона по умолчанию (темная тема) */
  --text-color: white; /* Цвет текста по умолчанию (темная тема) */
}

.light-theme {
  --background-color: white; /* Цвет фона для светлой темы */
  --text-color: black; /* Цвет текста для светлой темы */
}

.container {
  background-color: var(--background-color);
  color: var(--text-color);
}






  }

