@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1200px) {
    .max-w-custom {
      max-width: 500px; /* ваше значение ширины в пикселях */
      margin-left: auto; /* Центрирование блока по горизонтали */
      margin-right: auto;
    }

  }
  .bg-destructive1 {
    margin-top: 2px;
    margin-bottom: 22px;
    background-color: rgb(231, 75, 75, 0.9); /* Красный цвет с прозрачностью 0.9 */
  }
  .bg-destructive2 {
  
    margin-top: 2px;
    margin-bottom: 22px;
    background-color: rgba(139, 231, 111, 0.9); /* Красный цвет с прозрачностью 0.9 */
  }
  
